---
- name: install rclone
  import_tasks: install.yml
  tags: lin_rclone_install

- name: create rclone fuse wrapper
  template:
    src: rclonefs.sh
    dest: /usr/sbin/rclonefs
    mode: 0755
  notify: restart remote systemd mounts
  tags: lin_rclone_wrapper

- name: create symbolic link for mount
  file:
    state: link
    src: /usr/sbin/rclonefs
    dest: /sbin/mount.rclone
  tags: lin_rclone_wrapper

- name: create group for access to rclone config and mounts
  group:
    name: rclone
    gid: "{{ lin_rclone_group_gid }}"
  tags: lin_rclone_install

- name: give remote user access to rclone config and mounts
  user:
    name: "{{ ansible_user_id }}"
    groups: rclone
    append: true
  when: lin_rclone_allow_nonroot |bool
  tags: lin_rclone_config

- name: ensure correct permissions on rclone config directory
  file:
    path: "{{ lin_rclone_config |expanduser |dirname }}"
    state: directory
    group: rclone
    mode: g+rwx
  tags: lin_rclone_config

- name: add blockinfile workaround in rclone config and fix access rights
  # without this empty section rclone token refresher will strip last blockinfile comment
  lineinfile:
    path: "{{ lin_rclone_config |expanduser }}"
    line: "[end_of_ansible_blocks]"
    create: true
    ## rclone periodically updates config file and changes its owner
    ## so let's keep owner for the sake of idempotence
    # owner: root
    group: rclone
    mode: 0640
  tags: lin_rclone_config

- name: setup rclone mounts
  include_tasks: _mount.yml
  args:
    apply:
      become: true
      tags:
        - lin_rclone_config
        - lin_rclone_mounts
  vars:
    fstab_default: true
  loop: "{{ lin_rclone_mounts }}"
  when: item.enabled |default(true)
  tags:
    - lin_rclone_config
    - lin_rclone_mounts
...
